In [4]:
from urllib.request import urlretrieve
import pandas as pd

In [2]:
url = 'https://assets.datacamp.com/production/course_1650/datasets/all_medalists.csv'

In [3]:
urlretrieve(url,'OlympicData.csv')

('OlympicData.csv', <http.client.HTTPMessage at 0x58e2270>)

In [5]:
medals_df = pd.read_csv('OlympicData.csv')

In [6]:
print(type(medals_df))

<class 'pandas.core.frame.DataFrame'>

In [7]:
print(medals_df.head())

     City  Edition     Sport Discipline             Athlete  NOC Gender  \
0  Athens     1896  Aquatics   Swimming       HAJOS, Alfred  HUN    Men
1  Athens     1896  Aquatics   Swimming    HERSCHMANN, Otto  AUT    Men
2  Athens     1896  Aquatics   Swimming   DRIVAS, Dimitrios  GRE    Men
3  Athens     1896  Aquatics   Swimming  MALOKINIS, Ioannis  GRE    Men
4  Athens     1896  Aquatics   Swimming  CHASAPIS, Spiridon  GRE    Men

                        Event Event_gender   Medal
0              100m freestyle            M    Gold
1              100m freestyle            M  Silver
2  100m freestyle for sailors            M  Bronze
3  100m freestyle for sailors            M    Gold
4  100m freestyle for sailors            M  Silver

In [8]:
USA_edition_grouped = medals.loc[medals.NOC == 'USA'].groupby('Edition')

NameError: name 'medals' is not defined

In [9]:
USA_edition_grouped = medals_df.loc[medals_df.NOC == 'USA'].groupby('Edition')

In [10]:
print(USA_edition_grouped['Medal'].count())

Edition
1896     20
1900     55
1904    394
1908     63
1912    101
1920    193
1924    198
1928     84
1932    181
1936     92
1948    148
1952    130
1956    118
1960    112
1964    150
1968    149
1972    155
1976    155
1984    333
1988    193
1992    224
1996    260
2000    248
2004    264
2008    315
Name: Medal, dtype: int64

In [11]:
# Select the 'NOC' column of medals: country_names
country_names = medals['NOC']

# Count the number of medals won by each country: medal_counts
medal_counts = country_names.value_counts()

# Print top 15 countries ranked by medals
print(medal_counts.head(15))

NameError: name 'medals' is not defined

In [12]:
# Select the 'NOC' column of medals: country_names
country_names = medals_df['NOC']

# Count the number of medals won by each country: medal_counts
medal_counts = country_names.value_counts()

# Print top 15 countries ranked by medals
print(medal_counts.head(15))

USA    4335
URS    2049
GBR    1594
FRA    1314
ITA    1228
GER    1211
AUS    1075
HUN    1053
SWE    1021
GDR     825
NED     782
JPN     704
CHN     679
RUS     638
ROU     624
Name: NOC, dtype: int64

In [13]:
# Construct the pivot table: counted
counted = medals_df.pivot_table(index='NOC', columns='Medal',values='Athlete',aggfunc='count')

# Create the new column: counted['totals']
counted['totals'] = counted.sum(axis='columns')

# Sort counted by the 'totals' column
counted = counted.sort_values('totals',ascending=False)

# Print the top 15 rows of counted
print(counted.head(15))

Medal  Bronze    Gold  Silver  totals
NOC
USA    1052.0  2088.0  1195.0  4335.0
URS     584.0   838.0   627.0  2049.0
GBR     505.0   498.0   591.0  1594.0
FRA     475.0   378.0   461.0  1314.0
ITA     374.0   460.0   394.0  1228.0
GER     454.0   407.0   350.0  1211.0
AUS     413.0   293.0   369.0  1075.0
HUN     345.0   400.0   308.0  1053.0
SWE     325.0   347.0   349.0  1021.0
GDR     225.0   329.0   271.0   825.0
NED     320.0   212.0   250.0   782.0
JPN     270.0   206.0   228.0   704.0
CHN     193.0   234.0   252.0   679.0
RUS     240.0   192.0   206.0   638.0
ROU     282.0   155.0   187.0   624.0

In [14]:
# Select columns: ev_gen
ev_gen = medals_df[['Event_gender', 'Gender']]

# Drop duplicate pairs: ev_gen_uniques
ev_gen_uniques = ev_gen.drop_duplicates()

# Print ev_gen_uniques
print(ev_gen_uniques)

      Event_gender Gender
0                M    Men
348              X    Men
416              W  Women
639              X  Women
23675            W    Men

In [15]:
# Group medals by the two columns: medals_by_gender
medals_by_gender = medals_df.groupby(['Event_gender','Gender'])

# Create a DataFrame with a group count: medal_count_by_gender
medal_count_by_gender = medals_by_gender.count()

# Print medal_count_by_gender
print(medal_count_by_gender)

                      City  Edition  Sport  Discipline  Athlete    NOC  Event  \
Event_gender Gender
M            Men     20067    20067  20067       20067    20067  20067  20067
W            Men         1        1      1           1        1      1      1
             Women    7277     7277   7277        7277     7277   7277   7277
X            Men      1653     1653   1653        1653     1653   1653   1653
             Women     218      218    218         218      218    218    218

                     Medal
Event_gender Gender
M            Men     20067
W            Men         1
             Women    7277
X            Men      1653
             Women     218

In [16]:
# Create the Boolean Series: sus
sus = (medals_df.Event_gender == 'W') & (medals_df.Gender == 'Men')

# Create a DataFrame with the suspicious row: suspect
suspect = medals_df[sus] 

# Print suspect
print(suspect)

         City  Edition      Sport Discipline            Athlete  NOC Gender  \
23675  Sydney     2000  Athletics  Athletics  CHEPCHUMBA, Joyce  KEN    Men

          Event Event_gender   Medal
23675  marathon            W  Bronze